<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Viktor Andonovic" />
    <meta name="keywords" content="" />
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/jsonview.bundle.css' %}" />
    <title>DEX Result</title>
    <!-- Icons font CSS-->
    <link
      href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}"
      rel="stylesheet"
      media="all"
    />
    <!-- Font special for pages-->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />

    <!-- Vendor CSS-->
    <link
      href="{% static 'vendor/select2/select2.min.css' %}"
      rel="stylesheet"
      media="all"
    />
    <link
      href="{% static 'vendor/datepicker/daterangepicker.css' %}"
      rel="stylesheet"
      media="all"
    />

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all" />
  </head>
  <body>
    <div class="page-wrapper p-t-45 p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5">
          <div class="card-heading">
            <h2 class="title">DEX: Decision Support System For PES</h2>
          </div>
          <div class="card-body root"></div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/jsonview.bundle.js' %}"></script>
    <script type="text/javascript">
      fetch("static/test.json")
        .then((res) => {
          return res.text();
        })
        .then((data) => {
          const tree = JsonView.createTree(data);
          JsonView.render(tree, document.querySelector(".root"));
          JsonView.expandChildren(tree);
        })
        .catch((err) => {
          console.log(err);
        });
    </script>
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>
  </body>
</html>
